.sbanner{
    display: block;
    margin: 30px auto;
    width: 82%;
    height: 470px;
}
.servcategory-sort{
   padding: 10px 20px;
   border-radius: 20px;
   border: 1px solid #888;
   
}
.servcategory-sort img{
    width: 22px;
    height: 15px;
    
}
.servcategory-indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.servcategory-indexsort p span{
    font-weight: 600;
}
.servcategory-services{
    margin: 20px 70px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 0;

   
    
}
.servcategory-services img{
    height: 305px;
    width: 320px;
    box-shadow: 40px grey;
    
}
.scategory-loadmore
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}