.newserv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.newserv h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}
.newserv hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.nserv{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-left: 180px;
}
.nserv img{
    height: 300px;
    width: 250px;
    
    
}